blockquote p {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

body {

    color: white;
}

div {
    font-size: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

a {
    margin-top: 0
}

header {
    color: navy;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    letter-spacing: 3px;

}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.75;
}

section p {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
}


main {
    background-color: rgb(14, 190, 204);
    border: 20px gray;
    height: 1800px;
    margin: 30px auto;
    padding: 30px auto;
    text-align: center;
    width: 1000px;
}


.anchor,
.date {
    font-size: 15px;
}


.anchor {
    margin-top: 15px;
    margin-bottom: 0;
}


.date {
    margin-top: 0;
    margin-bottom: 10px;
}
