blockquote {
    margin: 0;
}
blockquote p {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

blockquote {
    margin-left: 150px;
    margin-right: 150px;
}


body {
    background-color: rgb(14, 190, 204);
    color: whitesmoke;
}

div {
<<<<<<< HEAD
    font-size: 18px;
    letter-spacing: 6px;
=======
    font-size: 40px;
>>>>>>> 3b1c7598f40c89462f2ee8a708631f15f9815333
    line-height: 1;
    text-align: center;
}


header {
    color: navy;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    line-height: 0.75;
}


h1 {
    margin-bottom: 0;
    margin-top: 125px;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.75;
}

section p {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
}


main {
    background-color: rgb(14, 190, 204);
<<<<<<< HEAD
    border: 15px solid whitesmoke;
    height: 1950px;
=======
    border: 20px solid gray;
    height: 1800px;
>>>>>>> 3b1c7598f40c89462f2ee8a708631f15f9815333
    margin: 30px auto;
    text-align: center;
    width: 1000px;
}


.anchor,
.date {
    font-size: 15px;
}


.anchor {
    margin-top: 15px;
    margin-bottom: 0;
}


.date {
    margin-top: 0;
    margin-bottom: 40px;
}

* {
    box-sizing: border-box;
}
