:root {
    --color-black: #000000;
    --color-pink: #c6177a;
    --color-white: whitesmoke;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--color-black);
    color: whitesmoke;
    font-family: montserrat-alternates, sans-serif;
    margin: 0;
}

header img,
header div {
    display: inline-block;
}

header div {
    text-align: center;
}

header h3 {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--color-pink);
}

h1,
h2 {
    font-family: bigsmalls-bold, sans-serif;
}

h3,
h4 {
    font-family: bigsmalls-regular, sans-serif;

}

h1 {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    font-family: montserrat-alternates, sans-serif;
}

nav ul {
    font-family: bigsmalls-regular, sans-serif;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    line-height: .8;
    max-width: 75px;

}

nav li a {
    color: var(--color-white);
    font-size: 10px;
    line-height: 0;
    /* margin-right: 2px; */
    margin-left: 6px;
    padding: 5px;
    text-decoration: none;
}

nav li a:hover,
nav li a:focus {
    background-color: var(--color-pink);
    border-radius: 3px;
}

img {
    max-width: 100%;
    overflow-x: hidden;
}


/* nav li+li {
    border-left: 1px solid var(--color-white);
} */

hr {
    display: block;
    border-radius: 10px;
    border-style: none;
    border: 1.5px solid var(--color-white);
    margin: 0;
    margin-left: 30px;
    text-shadow: none;
    width: calc(100% - 30px);
}

section {
    padding: 50px 30px;
    /* just for demo purposes */
}


svg path {
    fill: var(--color-pink);
}

#speakers {
    margin: auto;
}

#speakers h3 {
    font-size: 30px;
}

#exhibitions-learning p {
    width: 75%;
}

.top-link {
    background-color: gray;
    border-radius: 50%;
    color: var(--color-white);
    display: block;
    font-family: bigsmalls-bold, sans-serif;
    font-size: 11px;
    line-height: 15px;
    height: 40px;
    padding-top: 13px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 700px;
    width: 40px;
}


label {
    display: block;
    padding-bottom: 15px;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    width: 300px;
}

input[type="email"]:focus:hover {
    border: 3px solid var(--color-pink);
}

input[type="email"]:required:valid {
    background-color: var(--color-pink);
}

.cta-tickets {
    background-color: var(--color-white);
    border-radius: 50%;
    color: var(--color-black);
    display: block;
    font-family: bigsmalls-bold, sans-serif;
    font-size: 11px;
    line-height: 15px;
    height: 90px;
    padding-top: 39px;
    position: absolute;
    right: 20px;
    text-align: center;
    text-decoration: none;
    top: 30px;
    width: 90px;
}

.cta-tickets:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.logo {
    left: 0;
    top: 30px;
    width: 35%;
}

.theme {
    color: var(--color-white);
    font-size: 8px;
    letter-spacing: 3px;
    line-height: 1;
}




.main-title {
    padding-bottom: 80px;
    padding-left: 30px;
    padding-top: 80px;
}

.main-title p {
    color: var(--color-pink);
    font-family: bigsmalls-bold, sans-serif;
    font-size: 60px;
    line-height: 25px;
}

.first {
    border: 1.5px solid var(--color-pink);
}

.speaker {
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    width: 100%;

}

.speaker-container {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}


.ticket-type p,
.ticket-type a {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
}

.ticket-type a {
    background-color: var(--color-white);
    border-radius: 50%;
    color: var(--color-black);
    font-family: bigsmalls-bold, sans-serif;
    font-size: 15px;
    margin-left: 18px;
    line-height: 15px;
    padding-bottom: 55px;
    padding-top: 55px;
    text-align: center;
    text-decoration: none;
    width: 130px;
}

.ticket-type p {
    margin: 0;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}





.share-list {
    list-style: none;
    margin: auto;
}

.share-list a {
    display: block;
    margin: auto;
}

.share-list svg {
    height: 40px;
    width: 40px;
}

.share-list li {
    display: inline-block;
}




.share-list a:hover path {
    fill: var(--color-white);
}

.share-text {
    margin: auto;
    padding: 50px;
    text-align: center;
}

.share-text h2 {
    font-size: 40px;
}



@media (min-width: 630px) {

    .speaker-container {
        display: inline-block;
        vertical-align: top;
        width: 27%;
    }

    .speaker-container+.speaker-container {
        margin-left: 28px;
    }

}

@media (min-width: 920px) {

    .schedule h3 {
        margin-left: 200px;
    }

    .schedule-day-one,
    .schedule-day-two {
        columns: 2;
        column-gap: 40px;
        column-width: 200px;
        display: inline-block;
        /* height: 970px; */
        text-align: left;
    }

    .schedule-day-one {
        padding-left: 200px;
    }

    .schedule+.schedule {
        padding-left: 150px;
    }

    .schedule {
        display: inline-block;
    }

}



@media (max-width: 959px) {

    .ticket-type:first-of-type {
        float: left;
    }

    .ticket-type .students {
        margin-left: 0;
        margin-right: 18px;
        vertical-align: top;

    }

}
