*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-blue: #163346;
    --color-gray: #d1d5de;
    --color-offwhite: #fff;
    --color-lightgray: #cececd;
    --color-pureblack: #000000;

    --font-teko: 'Teko', sans-serif;
    --font-bench: 'BenchNine', sans-serif;

}

body {
    background-color: var(--color-blue);
    border: 10px solid var(--color-green);
    color: var(--color-offwhite);
    font-family: var(--font-bench);
    font-size: 22px;
}


header {
    background-color: var(--color-gray);
    display: block;
}


h1,
p {
    text-align: center;
    color: var(--color-pureblack);
}



h1 {
    font-family: var(--font-teko);
    font-size: 48px;
    margin-bottom: 0;
    text-transform: uppercase;

}


fieldset p {
    /* margin-bottom: 150px; */
    color: var(--color-lightgray);
    margin-top: 0;
    text-align: left;

}


/* input {
    font-family: var(--font-bench);
    font-size: 22px;
} */








fieldset {
    border: 0;
    padding: 0;
}


input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

select {
    cursor: pointer;
}


/* textarea {
    height: 100px;
    width: 200px;
} */


input[type="radio"],
input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 3px solid black;
    cursor: pointer;
    height: 12px;
    width: 12px;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: aqua;
}


input[type="radio"] {
    border-radius: 50%
}


input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    color: aqua;
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    background-color: aqua;
}

input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="number"]:required:valid {
    background-color: greenyellow;
}

input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="number"]:not(:placeholder-shown):invalid {
    background-color: orange;
}


.shield {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}





.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.button-reset[disabled] {
    cursor: default;
}





.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
}
