* {
    box-sizing: border-box;
}

body {
    background-color: #508d8b;
    color: black;
    font-family: ;

}

img {
    height: 451px;
    width: 318px;
}

.favorite {
    height: 45px;
    width: 43px;

}

.read-more {
    height: 59px;
    width: 59px;
}


