* {
    box-sizing: border-box;
}

body {
    background-color: #508d8b;
    color: black;
    font-family: ;

}


h2,
h3,
h4 {
    margin-inline-start: 6px;
}


h3 {
    font-size: 37px;
    line-height: 1;
    margin: 0;
}

h2 {
    font-size: 10.5px;

}

h4 {
    display: inline-block;
    font-size: 8px;
    line-height: 1;
}

img {
    height: 451px;
    width: 318px;
}

p {
    font-size: 10.5px;
}

ul {
    padding-inline-start: 0;
    text-align: center;
}

li {
    display: inline-block;


}

li+li {
    margin-left: 20px;
}

.card {
    background-color: whitesmoke;
    height: 755px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    width: 400px;
}

.content {
    background-color: whitesmoke;
    border: 3px gray solid;
    padding: 20px;
    position: relative;
    right: 3px;
    height: 725px;
    width: 378px;

}

.img-wrapper {
    padding: 10px;
    position: relative;
    right: 4px;
}

.favorite {
    height: 45px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 43px;
    z-index: 1;

}

.read-more {
    height: 59px;
    left: 285px;
    position: absolute;
    top: 440px;
    width: 59px;
}

.facebook,
.instagram,
.pinterest {
    height: 15px;
    /* width: 7px; */
}

.twitter {
    height: 14px;
    /* width: 12px; */
}

.comment {
    height: 31px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
